# Test the complete model

In [76]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [77]:
import numpy as np
import pandas as pd
from tensorflow import keras

# import re
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler

# # model imports
# from sklearn.linear_model import LinearRegression
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.neural_network import MLPRegressor
# from sklearn.svm import LinearSVR, SVR
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

# !pip3 install catboost
# from catboost import CatBoostClassifier
# #import sys
# #!{sys.executable} -m pip install xgboost
# from xgboost import XGBRegressor

# additional imports
from matplotlib import pyplot

In [78]:
df1 = pd.read_csv('/content/drive/MyDrive/Inframind/Customer engagement/original_dataset/processed_dataset_inning_1.csv')
df1.head()

   inning  ball  ...  required_run_rate  big_moment
0       1   0.1  ...                0.0           0
1       1   0.2  ...                0.0           0
2       1   0.3  ...                0.0           0
3       1   0.4  ...                0.0           0
4       1   0.5  ...                0.0           0

[5 rows x 15 columns]

In [79]:
df2 = pd.read_csv('/content/drive/MyDrive/Inframind/Customer engagement/original_dataset/processed_dataset_inning_2.csv')
df2.head()

   inning  ball  ...  required_run_rate  big_moment
0       2   0.1  ...           5.130261           0
1       2   0.2  ...           5.140562           0
2       2   0.3  ...           5.150905           0
3       2   0.4  ...           5.161290           0
4       2   0.5  ...           5.151515           0

[5 rows x 15 columns]

## Import the models

In [80]:
#load models 
import pickle
with open('/content/drive/MyDrive/Inframind/Customer engagement/boundry_prediction/model_training/boundary_1_model.pkl', 'rb') as file:
    boundary_1 = pickle.load(file)

with open('/content/drive/MyDrive/Inframind/Customer engagement/boundry_prediction/model_training/boundary_2_model.pkl', 'rb') as file:
    boundary_2 = pickle.load(file)

with open('/content/drive/MyDrive/Inframind/Customer engagement/wicket_prediction/model_training/wicket_1_model.pkl', 'rb') as file:
    wicket_1 = pickle.load(file)

with open('/content/drive/MyDrive/Inframind/Customer engagement/wicket_prediction/model_training/wicket_2_model.pkl', 'rb') as file:
    wicket_2 = pickle.load(file)

# boundary_1 = keras.models.load_model("/content/drive/MyDrive/Inframind/Customer engagement/boundry_prediction/model_training/boundary_1_model.pkl")
# boundary_2 = keras.models.load_model("/content/drive/MyDrive/Inframind/Customer engagement/boundry_prediction/model_training/boundary_2_model.pkl")
# wicket_1 = keras.models.load_model("/content/drive/MyDrive/Inframind/Customer engagement/wicket_prediction/model_training/wicket_1_model.pkl")
# wicket_2 = keras.models.load_model("/content/drive/MyDrive/Inframind/Customer engagement/wicket_prediction/model_training/wicket_2_model.pkl")

# Preprocessing

## Innings 2 boundary prediction

In [81]:
df2b = df2.copy()

In [82]:
df2b.drop(['inning','wicket_this_over','big_moment'], axis = 1, inplace = True) 
df2b.head()

   ball  wickets_so_far  ...  bowling_strike_rate  required_run_rate
0   0.1               0  ...                 25.0           5.130261
1   0.2               0  ...                 25.0           5.140562
2   0.3               0  ...                 25.0           5.150905
3   0.4               0  ...                 25.0           5.161290
4   0.5               0  ...                 25.0           5.151515

[5 rows x 12 columns]

In [83]:
df2

        inning  ball  ...  required_run_rate  big_moment
0            2   0.1  ...           5.130261           0
1            2   0.2  ...           5.140562           0
2            2   0.3  ...           5.150905           0
3            2   0.4  ...           5.161290           0
4            2   0.5  ...           5.151515           0
...        ...   ...  ...                ...         ...
328653       2  46.4  ...           0.555556           0
328654       2  46.5  ...           0.571429           0
328655       2  46.6  ...           0.294118           0
328656       2  47.1  ...           0.344828           1
328657       2  47.2  ...           0.357143           0

[328658 rows x 15 columns]

In [85]:
from imblearn.over_sampling import SMOTE
def preprocess_inputs_b(data):
  num_of_rows = 231314
  
  y = data['boundary_this_over'].copy()
  x = data.drop('boundary_this_over', axis=1).copy()
  
  y_train = y.iloc[:num_of_rows] #indexes rows for test data
  X_train = x.iloc[:num_of_rows] #indexes rows for training data

  X_test = x.iloc[num_of_rows:] #indexes rows for training data
  y_test = y.iloc[num_of_rows:] #indexes rows for test data



  # perform oversampling for minority class
  
  smote = SMOTE(sampling_strategy=0.5)
  X_train, y_train = smote.fit_sample(X_train, y_train)


  return X_train, X_test, y_train, y_test

In [86]:
X_train, X_test, y_train, y_test = preprocess_inputs_b(df2b)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [87]:
type(X_train), type(X_test), type(y_train) ,type(y_test)

(numpy.ndarray,
 pandas.core.frame.DataFrame,
 numpy.ndarray,
 pandas.core.series.Series)

In [88]:
unique_elements, counts_elements = np.unique(y_train, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[     0      1]
 [215204 107602]]

In [89]:
X_test

        ball  wickets_so_far  ...  bowling_strike_rate  required_run_rate
231314   5.1               2  ...                 31.5           4.031180
231315   5.2               2  ...                 31.5           4.040179
231316   5.3               2  ...                 31.5           4.026846
231317   5.4               2  ...                 31.5           3.946188
231318   5.5               2  ...                 31.5           3.932584
...      ...             ...  ...                  ...                ...
328653  46.4               8  ...                 41.6           0.555556
328654  46.5               8  ...                 41.6           0.571429
328655  46.6               8  ...                 41.6           0.294118
328656  47.1               8  ...                 33.9           0.344828
328657  47.2               9  ...                 70.0           0.357143

[97344 rows x 11 columns]

In [90]:
y_train

array([0, 0, 0, ..., 1, 1, 1])

In [91]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [92]:
np.any(np.isnan(df2)) #should be false ideally
# np.isfinite(data.all()) #and gets True

False

In [ ]:
# rf_pred = rf.predict(X_test)
b2_pred = (boundary_2.predict_proba(X_test)[:,1] >= 0.45).astype(bool) # set threshold

## Innings 2 wicket prediction

In [94]:
df2w = df2.copy()
df2w.drop(['inning','boundary_this_over','big_moment'], axis = 1, inplace = True) 
df2w.head()

   ball  wickets_so_far  ...  bowling_strike_rate  required_run_rate
0   0.1               0  ...                 25.0           5.130261
1   0.2               0  ...                 25.0           5.140562
2   0.3               0  ...                 25.0           5.150905
3   0.4               0  ...                 25.0           5.161290
4   0.5               0  ...                 25.0           5.151515

[5 rows x 12 columns]

In [96]:
from imblearn.over_sampling import SMOTE
def preprocess_inputs_w(data):
  num_of_rows = 231314
  
  y = data['wicket_this_over'].copy()
  x = data.drop('wicket_this_over', axis=1).copy()
  
  y_train = y.iloc[:num_of_rows] #indexes rows for test data
  X_train = x.iloc[:num_of_rows] #indexes rows for training data

  X_test = x.iloc[num_of_rows:] #indexes rows for training data
  y_test = y.iloc[num_of_rows:] #indexes rows for test data



  # perform oversampling for minority class
  
  smote = SMOTE(sampling_strategy=0.5)
  X_train, y_train = smote.fit_sample(X_train, y_train)


  return X_train, X_test, y_train, y_test

In [97]:
X_train, X_test, y_train, y_test = preprocess_inputs_w(df2w)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
w2_pred = (wicket_2.predict_proba(X_test)[:,1] >= 0.45).astype(bool) # set threshold

## Create merged y-test set

In [99]:
# create merged y_test
# y_test_2
df2= df2.iloc[231314:]
df2 = df2.loc[:,'big_moment']
y_test_2 = df2.values

In [100]:
# create merged y_pred
y_pred_2 = np.logical_or(w2_pred, b2_pred).astype(int)

In [101]:
print(y_pred_2[:80])
print(w2_pred[:80])
print(b2_pred[:80])
print(y_test_2[:80])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0]
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False]
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False  True  True  True
  True  True  True  True False False False False False False False False
 False False False False False False False False]
[0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0]

In [102]:
y_pred_2[60]

1

In [103]:
w2_pred[60]

False

In [104]:
b2_pred[60]

True

## Final report for 2nd innings

In [105]:
# TEST
print(classification_report(y_test_2, y_pred_2))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99     81347
           1       0.99      0.86      0.92     15997

    accuracy                           0.98     97344
   macro avg       0.98      0.93      0.95     97344
weighted avg       0.98      0.98      0.97     97344

## Innings 1 boundary prediction

In [106]:
df1b = df1.copy()

In [107]:
df1b.drop(['inning','required_run_rate', 'wicket_this_over','big_moment'], axis = 1, inplace = True) 
df1b.head()

   ball  wickets_so_far  ...  batting_average  bowling_strike_rate
0   0.1               0  ...            45.77                 37.1
1   0.2               0  ...            45.77                 37.1
2   0.3               0  ...            45.77                 37.1
3   0.4               0  ...            45.77                 37.1
4   0.5               0  ...            45.77                 37.1

[5 rows x 11 columns]

In [108]:
X_train, X_test, y_train, y_test = preprocess_inputs_b(df1b)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
# rf_pred = rf.predict(X_test)
b1_pred = (boundary_1.predict_proba(X_test)[:,1] >= 0.5).astype(bool) # set threshold

In [110]:
df1w = df1.copy()
df1w.drop(['inning','required_run_rate','boundary_this_over','big_moment'], axis = 1, inplace = True) 
df1w.head()

   ball  wickets_so_far  ...  batting_average  bowling_strike_rate
0   0.1               0  ...            45.77                 37.1
1   0.2               0  ...            45.77                 37.1
2   0.3               0  ...            45.77                 37.1
3   0.4               0  ...            45.77                 37.1
4   0.5               0  ...            45.77                 37.1

[5 rows x 11 columns]

In [111]:
X_train, X_test, y_train, y_test = preprocess_inputs_w(df1w)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
w1_pred = (wicket_1.predict_proba(X_test)[:,1] >= 0.45).astype(bool) # set threshold

## Create merged y-test set

In [113]:
# create merged y_test
# y_test_2
df1= df1.iloc[231314:]
df1 = df1.loc[:,'big_moment']
y_test_1 = df1.values

In [114]:
# create merged y_pred
y_pred_1 = np.logical_or(w1_pred, b1_pred).astype(int)

## Final report for 1st innings

In [115]:
# TEST
print(classification_report(y_test_1, y_pred_1))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98    129948
           1       0.97      0.79      0.87     24794

    accuracy                           0.96    154742
   macro avg       0.97      0.89      0.92    154742
weighted avg       0.96      0.96      0.96    154742